#loader {
    .my-loader {
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: $black;
        top: 0px;
        display: flex;
        opacity: 0.9;
        .loader-image {
            margin: auto;
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}